<div class="wheater-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Weather forecast </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Location" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button mat-flat-button color="primary">Primary</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
